.example-viewport {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    
  }
  .example-item {
    height: 50px;
  }
  #list_of_matches > p {
    cursor: pointer;
  } 
  table {
    width: 500px;
  }  
  th.mat-sort-header-sorted {
    color: black;
  }