<head>
	<title>Main</title>
</head>
<body>
	<div class="leftpanel">
		<a class="Home" routerLink="/leagues">Domov</a>
		<a class="login" routerLink="/login">Prihlásiť sa</a>
		<a class="addLeague" routerLink="/generate-leagues">Pridať ligu</a>
		<a class="score" routerLink="/my-league/:id">Moja Liga</a>
	</div>
	<div id="main">
		<div id="main_rozmer">
			<div id="main_kontext">
				<nav id="main_navi" *ngIf="leagues">
					<ul id="main_kontext_bunky" *ngFor="let league of leagues | async">
                        <p [routerLink]="['/my-league', league.id]">{{ league.leagueName }}</p>
					</ul>
				</nav>	
				<div id="main_kontext_button">
					<div id="main_rozmer_button">
                        <nav>
                            <a [routerLink]="'/generate-leagues'"><button ><span class="button_p"><i class="fa fa-plus-circle" aria-hidden="true"></i><p class="pridat">Pridať novú ligu</p></span></button></a>
                        </nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div id="footer_rozmer">
		
			<div id="footer_rozmer_kontext">
				<div id="roc_praca">
					<div id="roc_praca_rozmer">
						<p class="pridat">Siemens Healthnieners</p>
					</div>
				</div>
				<div class="animacia">
					<div>
						<p>@Filip Šupolik<br>@Martin Štrbánik</p>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>

</body>

