<body id="body">

	<div id="main">
		<div id="main_rozmer">
			<div id="main_border">
				<div id="main_kontext">
	
					<div id="main_vrch">
						<div id="main_nadpis">
							<p class="logo">
								<span class="logo_L">Login</span>
							</p>
							<p>
								<hr class="ciara" /> <!--align="center"-->
						</div>
					</div>
					<div id="main_spodok">
						<div style="width:580px;height:460px;">
							<nav style="height:380px">
								<ul id="main_bunky">
									<li style="margin-top:15px;">
									<form class="wrapper-center" [formGroup]="loginGroup" (ngSubmit)="login()" >
										<label>Username</label>
		                                <input natInput formControlName="username" required class="A">
									<li>
										<label>Password</label>
		                                <input natInput formControlName="password" required class="B">
									</li>
									<li>
										<button type="submit" [disabled]="!loginGroup.valid" class="C">Odoslať</button>
									</form>
									 <!-- Register -->
                                    <p>
                                      <a [routerLink]="'/registration'">Register</a>
                                    </p>
									</li>
								</ul>
							</nav>
						</div>
					</div>
	
				</div>
			</div>
		</div>
	</div>
	
	</body>