
<body id="body">

<div id="main">
	<div id="main_rozmer">
		<div id="main_border">
			<div id="main_kontext">

				<div id="main_vrch">
					<div id="main_nadpis">
						<p class="logo">
							<span class="logo_L">Login</span>
						</p>
						<p>
            				<hr class="ciara" /> <!--align="center"-->
					</div>
				</div>
				<div id="main_spodok">
					<div style="width:580px;height:460px;">
						<nav style="height:380px">
							<ul id="main_bunky">
								<li style="margin-top:15px;">
									<input type="text" name="Name" placeholder="   Name:" class="A">
								</li>
								<li>
									<input type="text" name="Password" placeholder="   Password:" class="B">
								</li>
								<li>
									<a [routerLink]="'/leagues'"><button class="C"><p>Odoslať</p></button></a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

</body>